In [35]:
import pandas as pd
from path import Path

In [36]:
file_path =Path("AAPL_Mock_ML_OPEN_DATE.csv")
open_date_df = pd.read_csv(file_path, parse_dates=['Date'], index_col=False)
open_date_df.set_index('Unnamed: 0',inplace=True)
open_date_df.index.name=None
open_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [26]:
#open_date_df.drop(['Unnamed:0'])
#open_date_df.reset_index()

In [27]:
#open_date_df.drop(columns=['Unnamed:0'])
#open_date_df.drop('Unnamed:0', axis=0,inplace=True)
#del open_date_df['Unnamed:0']

In [45]:

formatted_AAPL_OPEN_df = open_date_df["Date"].dt.strftime("%m/%d/%y")

print(formatted_AAPL_OPEN_df)
formatted_AAPL_OPEN_df.to_csv('CLEAN_AAPL_Mock_ML_OPEN_DATE.csv')

0     02/11/81
1     02/12/81
2     02/13/81
3     02/17/81
4     02/18/81
5     02/19/81
6     02/20/81
7     02/23/81
8     02/24/81
9     02/25/81
10    02/26/81
11    02/27/81
12    03/02/81
13    03/03/81
14    03/04/81
15    03/05/81
16    03/06/81
17    03/09/81
18    03/10/81
19    03/11/81
20    03/12/81
21    03/13/81
22    03/16/81
23    03/17/81
24    03/18/81
25    03/19/81
26    03/20/81
27    03/23/81
28    03/24/81
29    03/25/81
30    03/26/81
31    03/27/81
32    03/30/81
33    03/31/81
34    04/01/81
35    04/02/81
36    04/03/81
37    04/06/81
38    04/07/81
39    04/08/81
40    04/09/81
Name: Date, dtype: object

In [38]:
file_path =Path("AAPL_Mock_ML_CLOSE_DATE.csv")
close_date_df = pd.read_csv(file_path, parse_dates=['Date'], index_col=False)
close_date_df.set_index('Unnamed: 0',inplace=True)
close_date_df.index.name=None
close_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [46]:

formatted_AAPL_CLOSE_df = close_date_df["Date"].dt.strftime("%m/%d/%y")

#print(formatted_AAPL_CLOSE_df)
formatted_AAPL_CLOSE_df.to_csv('CLEAN_AAPL_Mock_ML_CLOSE_DATE.csv')

In [40]:
file_path =Path("AAPL_Mock_ML_HIGH_DATE.csv")
high_date_df = pd.read_csv(file_path, parse_dates=['Date'], index_col=False)
high_date_df.set_index('Unnamed: 0',inplace=True)
high_date_df.index.name=None
high_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [47]:

formatted_AAPL_HIGH_df = high_date_df["Date"].dt.strftime("%m/%d/%y")
formatted_AAPL_HIGH_df.to_csv('CLEAN_AAPL_Mock_ML_HIGH_DATE.csv')

In [42]:
file_path =Path("AAPL_Mock_ML_LOW_DATE.csv")
low_date_df = pd.read_csv(file_path, parse_dates=['Date'], index_col=False)
low_date_df.set_index('Unnamed: 0',inplace=True)
low_date_df.index.name=None
low_date_df.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [48]:
formatted_AAPL_LOW_df = low_date_df["Date"].dt.strftime("%m/%d/%y")
formatted_AAPL_LOW_df.to_csv('CLEAN_AAPL_Mock_ML_LOW_DATE.csv')