In [17]:
# Initial imports.
import pandas as pd
from path import Path

In [18]:
# Loading data after database join of seasons/quarters file and Apple's stock file
# https://towardsdatascience.com/4-tricks-you-should-know-to-parse-date-columns-with-pandas-read-csv-27355bb2ad0e#:~:text=By%20default%2C%20date%20columns%20are%20parsed%20using%20the,a%20different%20date%20format%2C%20for%20example%2C%20YYYY-DD-MM%20HH%3AMM%3ASS%3A
file_path =Path("AAPL_Mock_ML_Open.csv")
df = pd.read_csv(file_path, parse_dates=['Date'])
df.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Open_24hr_Change,Gain/Loss_Open
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,-0.003348,Loss
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.001674,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005023,Gain

In [19]:
#apply a filter on your data, for the first  columns :
df2 = df.iloc[:,[0]]

In [20]:
  df2.to_csv('AAPL_Mock_ML_OPEN_DATE.csv')

In [21]:
file_path =Path("AAPL_Mock_ML_Close.csv")
df = pd.read_csv(file_path, parse_dates=['Date'])
df.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Close_24hr_Change,Gain/Loss_Close
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.117746,Gain
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001117,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002790,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002790,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005023,Gain

In [22]:
#apply a filter on your data, for the first  columns :
df3 = df.iloc[:,[0]]

In [23]:
df3.head()

        Date
0 1981-02-11
1 1981-02-12
2 1981-02-13
3 1981-02-17
4 1981-02-18

In [24]:
  df3.to_csv('AAPL_Mock_ML_CLOSE_DATE.csv')

In [25]:
file_path =Path("AAPL_Mock_ML_High.csv")
df = pd.read_csv(file_path, parse_dates=['Date'])
df.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,High_24hr_Change,Gain/Loss_High
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.118304,Gain
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002233,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005580,Gain

In [26]:
#apply a filter on your data, for the first  columns :
df4 = df.iloc[:,[0]]

In [27]:
 df4.to_csv('AAPL_Mock_ML_HIGH_DATE.csv')

In [28]:
file_path =Path("AAPL_Mock_ML_Low.csv")
df = pd.read_csv(file_path, parse_dates=['Date'])
df.head()

,Date,Season,Quarter,Open,High,Low,Close,Adj Close,Volume,Low_24hr_Change,Gain/Loss_Low
0,1981-02-11,Winter,Q1,0.118304,0.118304,0.117746,0.117746,0.092428,13843200,0.117746,Gain
1,1981-02-12,Winter,Q1,0.117188,0.117188,0.116629,0.116629,0.091552,14560000,-0.001116,Loss
2,1981-02-13,Winter,Q1,0.114955,0.114955,0.113839,0.113839,0.089362,11155200,-0.002233,Loss
3,1981-02-17,Winter,Q1,0.116629,0.117188,0.116629,0.116629,0.091552,12275200,0.002233,Gain
4,1981-02-18,Winter,Q1,0.121652,0.122768,0.121652,0.121652,0.095495,19241600,0.005580,Gain

In [29]:
#apply a filter on your data, for the first  columns :
df5 = df.iloc[:,[0]]

In [30]:
 df5.to_csv('AAPL_Mock_ML_LOW_DATE.csv')